
@import url('./basic.css');

html {
    padding-top: 20px;
}

#hidden_content {
    display: none;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.about-me p:first-child {
    height: 258px;
    background: url("/imgs/shadow-large.png") bottom;
    background-repeat: no-repeat;
}

#over-image {
    position: absolute;
    z-index: 99;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0 );
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#over-image:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity = 75 );
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.read-more {
    position: absolute;
    min-height: 0;
    z-index: 99;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0 );
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.read-more:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity = 75 );
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

ul.box {
    margin-left: 1.3em;
}

ul.box img {
    position: absolute;
    margin: 12px;
    float: left;
    border: 2px solid #fff;
}

ul.box img:hover {
    margin: 12px;
    float: left;
    border: 2px solid #666;
    -webkit-transition: color .5s;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

ul.box li {
    position: relative;
    list-style: none;
    float: left;
    width: 390px;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #efefef;
    margin: 20px;
    background: #fff;
    display: block;
}

ul.box li.med:before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 100%;
    right: 0.8px;
    background: url("/imgs/shadow-sml.png") center bottom no-repeat;
}
.error-box
{
    padding: 10px;
    color: red;
    background-color: #ffcccc;
    border: 1px solid red;
    margin-bottom: 20px;
}

.boxshadow ul.box li {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

#twitter_icon {
    margin: 10px;
    float: left;
    border: none;
    background: url("/imgs/twitter_sheet.png") no-repeat;
    width: 160px;
    height: 164px;
    overflow: hidden;
}

#twitter_icon:hover {
    background: url("/imgs/twitter_sheet.png") no-repeat -162px;
}

.boxshadow .post, .boxshadow #primary, .boxshadow #secondary, .boxshadow #comments, .boxshadow #page-content {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.box li#last {
    max-width: 842px;
    min-height: 240px;
    width: 90%;
}

ul.box li#last:before {
    bottom: -40px;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    right: 0.8px;
    background: url("/imgs/shadow-med.png") center bottom no-repeat;
    position: absolute;
}

.shadowed  {
    margin-bottom: 0 !important;
}

.content-shadow {
    z-index: -2;
    height: 44px;
    background: url("/imgs/shadow-large.png") center bottom no-repeat;
}

.main-content p {
    text-align: center;
    padding-left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about-me p {
    width: 90%;
}

img[alt="profile"] {
    margin-bottom: 0 !important;
    background: url(/imgs/shadow-large.png) bottom;
    background-repeat: no-repeat;
}

#tweets {
    padding: 10px 10px;
    width: 100%;
    height: 184px;
}

a {
    text-decoration: none !important;
}

td input, td textarea {
    width: 400px !important;
    margin: 0;
}

.form_buttons input[type="submit"] {
    padding: 5px;
    width: 100px;
    margin: 0;
}

.tweet {
    float: left !important;
    width: 100%;
    padding: 10px 10px;
    display: block;
}

#twitter_left {
    padding-top: 15px;
    float: left;
    width: 25%;
}

#twitter_right {
    padding-top: 15px;
    float: left;
    width: 65%;
}

.footer_container a {
    color: #11161a !important;
}

.fade-out {
    opacity: 0;
    transition: ease-in-out 150ms;
}

.fade-in {
    opacity: 1;
    transition: ease-in-out 1000ms;
}

@media all and (max-width: 930px) {
    #container {
        width: 100% !important;
    }

    header {
        width: 90% !important;
    }

    nav {
        padding-left: 10px;
    }

    #twitter_left {
        width: 35%;
    }

    #twitter_right{ 
        width: 55%;
    }

    .footer_container {
        width: 100% !important;
    }
    
    ul.box {
        margin-left: 0;
    }
}

@media all and (max-width: 460px) {
    #twitter_left {
        float: none;
    }

    #twitter_right{ 
        float: none;
        width: 88%;
    }

    #last {
        margin: 0;
    }

    ul.box {
        margin-left: 1.3em;
    }
}

@import url('./content.css');
@import url('./print.css');
